<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <div class="avatar"></div>
      <div class="tab-name"> {{ chatService.getTabName(chatService.userId) }}</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" class="mobile-header">
      <div class="mobile-avatar"></div>
      <span class="tab-name">{{ chatService.getTabName(chatService.userId) }}</span>
    </mat-toolbar>

    <div class="chat-area" #chatArea>
      @for (message of messages$ | async; track message) {
        <app-message [message]="message"></app-message>

      }
    </div>
    @if (chatService.typingStateObservable | async; as typings) {
      <div class="typing-indicator">
        <span class="typing-indicator__text">{{ typings }}</span>
      </div>
    }

    <form class="input-area">
      <mat-form-field class="input-area__field" appearance="fill">
        <input matInput [formControl]="newMessage" placeholder="Ваше сообщение">
      </mat-form-field>
      <button class="input-area__button" mat-raised-button color="primary" type="button" [disabled]="!newMessage.value"
              (click)="sendMessage()">
        <mat-icon fontIcon="send"></mat-icon>
      </button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
